<div class="comments-wrapper">
  <div class="comments-header">
    <h2>Comments</h2>
    <p class="subtitle">Post #{{ postId() }} discussion</p>
  </div>

  @if (isLoading()) {
    <div class="loader-container">
      <app-loader/>
    </div>
  } @else {

    @if (comments().length === 0) {
      <div class="empty-state">
        <i class="pi pi-comment text-4xl"></i>
        <p>There's no comments for this post yet.</p>
      </div>
    } @else {

      <div class="comments-grid">
        @for (comment of comments(); track comment.id) {
          <div class="col">
            <app-comment-card [comment]="comment"/>
          </div>
        }
      </div>

    }

  }
</div>