@use 'app/Styles/fonts';
@use 'primeflex/primeflex.scss';
@use 'primeicons/primeicons.css';

body {
    font-family: "Inter", sans-serif;
    min-height: 100dvh;
    margin: 0;
}

html {
  overflow-y: scroll;
}