<div class="mb-3">
  <ng-template #subtitle>
    <span class="text-sm text-500">Post #{{ post()?.id }}</span>
  </ng-template>
  
  <p-card class="h-full">
    <ng-template #title>
      <div class="text-base sm:text-lg font-semibold line-height-3">
        {{ post()?.title }}
      </div>
    </ng-template>
    
    <p class="text-sm sm:text-base text-justify line-height-3 mt-4">
      {{ post()?.body }}
    </p>
    
    <a 
      class="text underline cursor-pointer" 
      (click)="navigateToComments()">
      Open Comments
    </a>
  </p-card>
</div>