.nav-wrapper {
  background: black;
  color: white;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.2rem;
  letter-spacing: .5px;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: .5rem;
  text-decoration: none;
  color: rgba(255,255,255,.8);
  font-size: .9rem;
  transition: all .2s;

  &:hover {
    color: white;
    transform: translateY(-2px);
  }
}

.active-link {
  color: white;
  font-weight: 700;
  border-bottom: 2px solid white;
}
